$prescript-machine-text: rgb(73, 170, 255);
$gold-text: rgb(234, 193, 7);
$backup: rgb(0, 173, 161);
$options-bg: rgb(44, 22, 11);
$options-border: rgb(100, 77, 66);
$bg-colour: rgb(19, 7, 1);
$text-colour: rgb(245, 230, 210);