@use "./fonts";
@use "./prescript_machine";
@use "./options_menu";
@use "./palette";

body{
    background-color: palette.$bg-colour;
    color: palette.$text-colour;
    font-family: fonts.$lib-sans;
    margin-top: 4px;
    width: 100%;
}

h1, h2{
    font-family: fonts.$mikodacs;
    letter-spacing: 1px;
    padding: 8px 12px 0px;
    margin-top: 8px;   
}